<nav class="navbar navbar-expand-lg navbar-light menu">
    <a class="navbar-brand titulo" href="/">MarcosNoDeFotos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link custom-nav-link" href="/sonido">Sonido</a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-nav-link" href="/juego">Juego</a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-nav-link" href="/video">Vídeo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-nav-link" href="/rgb">RGB</a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-nav-link" href="/botones">Configuración de botones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link custom-nav-link" href="/multichat">Multichat <i style="font-size: 16px;" class="fa">&#xf08e;</i></a>
            </li>
        </ul>
    </div>
</nav>

<!-- Botón flotante para mostrar datos de perfil Steam -->
<button type="button" id="btnPerfilSteamFlotante" class="btn_perfil_steam">
    Perfil Steam
</button>