.menu {
    background-color: #006d1b;
}

.titulo {
    font-family: cursive;
    font-weight: bolder;
    font-size: x-large;
    color: white !important;
}

.custom-nav-link {
    color: white !important;
}

.ta-resultado {
    width: 100%;
    height: 100%;
}

.btn-trash {
    color: red;
}

.color-pred {
    width: 20px !important;
    height: 20px !important;
}

.color-pred:hover {
    cursor: pointer;
}

.acciones-lista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.tick {
    color: green;
}


#frameBotones {
    border: none;
    width: 100%;
    height: 100vh;
}

.new_tab_icon {
    font-size: 16px;
}

.btn_perfil_steam {
    background-color: #3b3b3b;
    border: none;
    border-radius: 50px;
    box-shadow: 2px 2px 6px 3px black;
    color: white;
    padding: 13px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1050;
}
.btn_perfil_steam:hover{
    cursor:pointer;
    background-color: #505050;
}